{%extends 'dashboard_template.html'%}


{%block body%}
		<br>
  <div class="form-inline">
    <div class="col-auto my-1">
      <select class="custom-select mr-sm-2" id="fansub">
        <option selected>Pilih...</option>
        <option value="oploverz">OPLOVERZ</option>
        <option value="samehadaku">SAMEHADAKU</option>
        <option value="awsubs">AWSUBS</option>
        <option value="anitoki">ANITOKI</option>
      </select>
      <input id="query" type="text" class="form-control" style="width: 880px" placeholder="Query">
      <input type="submit" id="submit" class="btn btn-secondary">
    </div></div>
    <br>
     <ul id="daftar" class="list-group" style="padding-left: 15px">
    </ul>
     <div id="loader" style="display:none;"><img style="margin-left: 500px;margin-top: 10px;
    margin-right: 500px;" src="https://www.w3schools.com/jquery/demo_wait.gif"/></div>
<br>
{%endblock%}