
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static',filename='images/favicon.png')}}">
    <title>Fansub.La{P}ler</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/sticky-footer.css')}}" rel="stylesheet">
    <style type="text/css">
    .kepencet{background-color: #bbbbbb;}
    </style>
     <script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type=text/javascript>
    $(function() {

      ///////////////////////////////////////////////////////////
        var awal=''
        awal+='<br>'
        awal+='<div class="form-inline">'
        awal+='<div class="col-auto my-1" style="left: 180px">'
        awal+='<select class="custom-select mr-sm-2" id="fansub">'
        awal+='<option selected>Pilih...</option>'
        awal+='<option value="oploverz">OPLOVERZ</option>'
        awal+='<option value="samehadaku">SAMEHADAKU</option>'
        awal+='<option value="awsubs">AWSUBS</option>'
        awal+='<option value="anitoki">ANITOKI</option>'
        awal+='<option value="drivenime">DRIVENIME</option>'
        awal+='</select>'
        awal+='<input id="query" type="text" class="form-control" style="width: 775px" placeholder="Query">'
        awal+='<input type="submit" id="querybutton" class="btn btn-secondary">'
        awal+='</div></div>'
        awal+='<ul id="daftar" class="list-group" style="padding-left: 15px; width: 1020px; margin-left: 180px; margin-top: 16px">'
        awal+='</ul>'
        awal+='<div id="loader" style="display:none;"><img style="margin-left: 632px;margin-top: 10px;'
        awal+='margin-right: 500px;" src="https://www.w3schools.com/jquery/demo_wait.gif"/></div>'
        awal+='<br>'
        $(".container").html(awal);
      ///////////////////////////////////////////////////////////
      $(document).on('click','#zippyshare_direct',function(event){
      event.preventDefault();
      tautan=$("#zippyshare_tautan").val();
      $.getJSON("api?mode=directlink&hosting=zippyshare&link="+tautan,function(data){
      window.open(data.direct,"_self");

      });
      });

      ///////////////////////////////////////////////////////////
      $(document).on('click','#googledrive_direct',function(event){
      event.preventDefault();
      tautan=$("#googledrive_tautan").val();
      $.getJSON("api?mode=directlink&hosting=googledrive&link="+tautan,function(data){
      window.open(data.direct);

      });
      });

      ///////////////////////////////////////////////////////////

        $(document).on('click','#querybutton',function(event){
          event.preventDefault();
            $("#daftar").empty();
            $("#loader").css('display','inline');
            var select, query;
            var hasil="";
            query=$("#query").val();
            select=$("#fansub").val();
            $.getJSON( "api?mode=dashboard&fansub="+select+"&query="+query+"", function( data ) {
              $("#loader").css('display','none');
            for(x=0;x<data.results.length;x++){
              hasil += '<li class="list-group-item">'+data.results[x]+'</li>'
            }
            $("#daftar").append(hasil);
            });
  
        });

      ///////////////////////////////////////////////////////////
  
        $("#navigasi1").click(function(){
        $(".container").empty();
        var isinav1=""
        $("a").removeClass("kepencet");
        $(this).addClass("kepencet");
        isinav1+='<br>'
        isinav1+='<div class="form-inline">'
        isinav1+='<div class="col-auto my-1" style="left: 180px">'
        isinav1+='<select class="custom-select mr-sm-2" id="fansub">'
        isinav1+='<option selected>Pilih...</option>'
        isinav1+='<option value="oploverz">OPLOVERZ</option>'
        isinav1+='<option value="samehadaku">SAMEHADAKU</option>'
        isinav1+='<option value="awsubs">AWSUBS</option>'
        isinav1+='<option value="anitoki">ANITOKI</option>'
        isinav1+='<option value="drivenime">DRIVENIME</option>'
        isinav1+='</select>'
        isinav1+='<input id="query" type="text" class="form-control" style="width: 775px" placeholder="Query">'
        isinav1+='<input type="submit" id="querybutton" class="btn btn-secondary">'
        isinav1+='</div></div>'
        isinav1+='<ul id="daftar" class="list-group" style="padding-left: 15px; width: 1020px; margin-left: 180px; margin-top: 16px">'
        isinav1+='</ul>'
        isinav1+='<div id="loader" style="display:none;"><img style="margin-left: 632px;margin-top: 10px;'
        isinav1+='margin-right: 500px;" src="https://www.w3schools.com/jquery/demo_wait.gif"/></div>'
        isinav1+='<br>'
        $(".container").html(isinav1);
      });

      ///////////////////////////////////////////////////////////
    

       $("#navigasi2").click(function(){
        var isinav2=""
        $(".container").empty();
        $("a").removeClass("kepencet");
        $(this).addClass("kepencet");
        isinav2+='<br>'
        isinav2+='<div class="form-inline">'
        isinav2+='<div class="col-auto my-1" style="left: 180px">'
        isinav2+='<input id="zippyshare_tautan" type="text" class="form-control" style="width: 928px" placeholder="Tautan Zippyshare">'
        isinav2+='<input type="submit" id="zippyshare_direct" class="btn btn-secondary"><br><br>'
        isinav2+='<input id="googledrive_tautan" type="text" class="form-control" style="width: 928px" placeholder="Tautan GoogleDrive">'
        isinav2+='<input type="submit" id="googledrive_direct" class="btn btn-secondary"><br><br>'
         isinav2+='<input id="elsfile_tautan" type="text" class="form-control" style="width: 928px" placeholder="Tautan Elsfile (Soon!)">'
        isinav2+='<input type="submit" id="elsfile_direct" class="btn btn-secondary">'
        isinav2+='</div></div>'
        isinav2+='</ul>'
        isinav2+='<br>'
        $(".container").html(isinav2);
      });

      ///////////////////////////////////////////////////////////

         $("#navigasi3").click(function(){
          $(".container").empty();
        $("a").removeClass("kepencet");
        $(this).addClass("kepencet");
      });

        ///////////////////////////////////////////////////////////

           $("#navigasi4").click(function(){
           $(".container").empty();
        $("a").removeClass("kepencet");
        $(this).addClass("kepencet");
      });

      ///////////////////////////////////////////////////////////



    });
    </script>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fansub.La{P}ler URL Grabber</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('antarmuka')}}">Hajar!!! <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
      	{%if current_user.is_authenticated%}
      	 <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{current_user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('dashboard')}}">Dashboard</a>
          <a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
        </div>
        {%else%}
        <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Panel Kontrol
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('register')}}">Register</a>
          <a class="dropdown-item" href="{{url_for('login')}}">Login</a>
        </div>
         {%endif%}
      </li>
    </ul>
  </div>
</nav>
  <body>
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="width: 270px;position: absolute;margin-left: 30px;margin-top: 26px; background-color: #f8f9fa!important;">
  <a class="nav-link kepencet" id="navigasi1"  href="#" style="color: rgba(0,0,0,.9);">Pencarian Rilisan</a>
  <a class="nav-link" id="navigasi2" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false" style="color: rgba(0,0,0,.9)">Link Cepat Otomatis</a>
  <a class="nav-link"  id="navigasi3" href="#" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="color: rgba(0,0,0,.9)">#</a>
  <a class="nav-link" id="navigasi4" href="#" role="tab" aria-controls="v-pills-settings" aria-selected="false" style="color: rgba(0,0,0,.9)">#</a>
</div>
    <main role="main" class="container">
      {%block body%}{%endblock%}
    </main>
    <footer class="footer">
         <span class="text-muted" style="margin-left: 128px">Created by Padang Perwira Yudha.</span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
