{%extends 'literally_template.html'%}


{%block body%}
	<h1 class="mt-5">Register Page</h1>
	{% from "_formhelpers.html" import render_field %}
	<form method="POST" action="/register">
	<div class="form-group">
	{{ form.csrf_token }}
	<label for="email">Email :</label>
	<p>{{render_field(form.email)}}</p>
	<label for="username">Username :</label>
	<p>{{render_field(form.username)}}</p>
	<label for="password">Password :</label>
	<p>{{render_field(form.password)}}</p>
	<input class="btn btn-secondary" type="submit" name="submit">
	</div>
	<br>
	</form>
	 {%if e%}
   <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 400px">
           {{e}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {%endif%}
	
{%endblock%}